/* estilo universal */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* estilos */
h1{
    font-family: 'Asap', sans-serif;
    color: rgb(226, 1, 1);
    font-size: 5rem;
    font-weight: 600;
    text-align: right;
    font-style: normal;
}
h2{
    font-family: 'Asap', sans-serif;
    color: rgb(226, 1, 1);
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    font-style: normal;
}
h3{
    font-family: 'Roboto', sans-serif;
    color: rgb(68, 68, 68);
    font-size: 2rem;
    font-weight: 100;
    text-align: right;
    font-style: normal;
}
h4{
    font-family: 'Roboto', sans-serif;
    color: rgb(68, 68, 68);
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    font-style: normal;
}
h5{
    font-family: 'Asap', sans-serif;
    color: rgb(226, 1, 1);
    font-size: 1.3rem;
    font-weight: 400;
}
p{
    color: dimgray;
    font-family: 'Roboto', sans-serif;
    font-size: 400;
}

a{
    font-family: 'Asap', sans-serif;
    font-weight: 100;
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-size: 1.2rem;
    transition: all 1s;
}
a:hover{
    color: rgb(226, 1, 1);
    font-size: 1.2rem;
}

/* estilo logo header / Menú*/
.header__logo-principal{
    grid-area: marca;
    position: absolute;
    left: 5%;
    transition: all 1s;
}
.header__logo-principal:hover{
    transform: scale(1.1,1.1);
}
.header__logo-principal img {
    width: 180px;
}
nav li{
    display: inline-block;
    padding: 10px;
}
.header__menu{
    grid-area: cabeza;
    position: absolute;
    right: 5%;
    top: 25px;
}
.header {
    display:grid;
    grid-template-areas: 
    "marca cabeza";
    grid-auto-columns: 1fr 2fr;
    
    background-color: rgba(230, 230, 230, 0.89);
    color: rgb(255, 255, 255);
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    height: 100px;
    box-shadow: 0 2px 5px #63636396;
    z-index: 999;
}
.header__hambur-open{
    display: none;
    grid-area: hambur;
}
.item__oculto{
    display: none;
}
/* estilo nombres y datos profesionales*/
.nombre {
    color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.info-personal{
    color: rgb(56, 55, 55);
    font-family: 'roboto', sans-serif;
    font-size: 15px;
}
/* estilo formulario*/
.contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "mapa formulario";
    padding: 5rem;
    background-color: rgba(167, 167, 167, 0.199);
    border-top: 1px solid #a30b0b;
    border-bottom: 1px solid #a30b0b;
}
div#formulario label { 
    color: rgb(43, 42, 42);
    font-family: 'Roboto', sans-serif;
    font-size: 400;
    line-height: 2rem;
}
.contacto__boton{
    font-size: 15px;
    background-color: #afafaf;
    color: #303030;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 100px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    transition: all 1s;
}
.embed-responsive-100x400px{
    padding-bottom: 50px;
}
.contacto__boton:hover{
    background-color: #a30b0b;
    color: rgb(255, 255, 255);
}
.contacto__titulo{
    text-align: start;
}
.contacto__dr{
    display: flex;
    flex-direction: column;
}
.googlem{
    width: 100%;
    border-radius: 10px;
}
/* estilos Banners - primera sección */
.fondo_banner{
    height: 100vh;
    padding: 14rem 5%;
    text-shadow: 1px 1px 5px rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    color: white;
}
.fondo01{
    background-image: linear-gradient(to right, rgba(253, 253, 255, 0), rgba(255, 255, 255, 0.73)), url('../img/banner-img1.jpg');
}
.fondo02{
    background-image: linear-gradient(to right, rgba(253, 253, 255, 0), rgba(255, 255, 255, 0.73)), url('../img/banner-img3.jpg');
}
.fondo03{
    background-image: linear-gradient(to right, rgba(253, 253, 255, 0), rgba(255, 255, 255, 0.73)), url('../img/banner-img2.jpg');
}
.fondo04{
    background-image: linear-gradient(to right, rgba(253, 253, 255, 0), rgba(255, 255, 255, 0.73)), url('../img/banner-img4.jpg');
}
.focus-in-contract {
	-webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* estilo segundas secciones*/
/* ESTILOS INICIO*/
.prepagas{
    background-image: linear-gradient(to bottom, #c0c0c0, #ffffff);
    border-top: 1px solid #a30b0b;
    border-bottom: 1px solid #a30b0b;
}
.prepagas__div01{
    margin-bottom: 2rem;
}
.prepagas__div02{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nosotros{
    padding: 5rem;
    background-image: linear-gradient(to bottom, #c0c0c0, #ffffff);
    border-top: 1px solid #a30b0b;
    border-bottom: 1px solid #a30b0b;
}
.fondo-color{
    padding: 5rem;
    background-image: linear-gradient(to bottom, #c0c0c0, #ffffff);
    border-top: 1px solid #a30b0b;
    border-bottom: 1px solid #a30b0b;
}
.obras{
    transition: all 1s;
}
.obras:hover{
    transform: scale(1.3,1.3);
}
/* Estilos sección protectores */
.gradient-custom {
    /* fallback for old browsers */
    background: #00c4ed;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top, rgba(0, 197, 237, 0.193), rgba(255, 2, 145, 0.06));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top, rgba(0, 197, 237, 0.193)
    , rgba(255, 2, 145, 0.06))
}
/* ESTILOS INSTALACIONES*/
.galeria{
    background-color: rgba(167, 167, 167, 0.199);
    border-top: 1px solid #a30b0b;
    border-bottom: 1px solid #a30b0b;
    min-width: 500px;
    height: 900px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "uno dos dos tres"
    "uno dos dos tres"
    "uno cuatro cinco cinco";
    gap: 20px;
    padding-top: 50px;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 50px;
}
.galeria__grid--img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all 1s;
}
.galeria__grid--img:hover{
    transform: scale(1.2,1.2) rotateZ(2deg);
}
.galeria__img001{
    grid-area: uno;
    overflow: hidden;
    border-radius: 10px;
}
.galeria__img002{
    grid-area: dos;
    overflow: hidden;
    border-radius: 10px;
}
.galeria__img003{
    grid-area: tres;
    overflow: hidden;
    border-radius: 10px;
}
.galeria__img004{
    grid-area: cuatro;
    overflow: hidden;
    border-radius: 10px;
}
.galeria__img005{
    grid-area: cinco;
    overflow: hidden;
    border-radius: 10px;
}
/* ESTILOS NOSOTROS*/
.doctores{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.doctores__01{
    width: 25%;
    position: relative;
    text-align: center;
    
}
.doctores__foto{
    width: 200px;
    border-radius: 10px;
    transition:all 1s;
}
.doctores__foto:hover{
    transform: scale(1.1,1.1);
}
.card_color{
    transition:all 1s;
}
.card_color:hover{
    background-color: #e0e0e0;
}
.doctores__nombres{
    padding-top: 1rem;
}
/* ESTILOS TRATAMIENTOS*/
.trata_individual i{
    color: #afafaf;
    font-size: 4rem;
    margin-bottom: 20px;
    transition: all 1s;
}
.trata_individual:hover i{
    color: #a30b0b;
}
/* .otros_trata{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    padding: 50px 0 50px 0;
    margin: 0 100px 0 100px;
} */
/* .otros_trata__img img{
    border-radius: 10px;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
} */
.trata__lista{
    font-family: 'roboto', sans-serif;
    list-style: none;
    font-size: 14px;
    color: dimgrey;
    line-height: 25px;
}
/* .otros_trata__lista{
    margin-left: 40px;
}
td h5{
    margin-left: 40px;
} */
/*Estilos footer*/
.info-footer {
    color: rgb(138, 135, 135);
    font-family: 'roboto', sans-serif;
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 0;
    
}
.info-footer__b {
    color: rgb(179, 179, 179);
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 0;
}
.pie{
    background-color: rgb(46, 46, 46);
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.pie__hora{
    width: 20%;
    position: relative;
}
.pie__hora h5{
    margin-bottom: 0;
}
.pie__datos{
    width: 16%;
    position: relative;
}
.pie__datos h5{
    margin-bottom: 0;
}
.icon{
    font-size: 20px;
}
.icon a{
    color: aliceblue;
    padding-right: 5px;
    transition: all 1s;
}
.icon a:hover{
    color: rgb(226, 1, 1);
    font-size: 1.2rem;
}


/**
 * ----------------------------------------
 * animation focus-in-contract
 * ----------------------------------------
 */
@-webkit-keyframes focus-in-contract {
    0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
    }
    100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
    }
}
@keyframes focus-in-contract {
    0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
    }
    100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
    }
}
/* Media query */

@media (max-width: 992px){

    h1{
        font-size: 60px;
    }
    h3{
        font-size: 40px;
    }
    /* hambur inicio nav*/ 
    .header{
        grid-template-areas: 
        "marca hambur";
        grid-auto-columns: 1fr 1fr;
    }
    .item__oculto{
        display: block;
    }
    .header__hambur-open{
        display: flex;
    }
    .hambur{
        position: absolute;
        right: 5%;
        top: 30px;
        font-size: 40px;
        color: #a30b0b;
    }
    #sidebar{
        background-color: #afafafec;
        position: fixed;
        top:0;
        left:0;
        height: 100vh;
        width: 80%;
        max-width: 350px;
        z-index: -300;
        transform: translateX(-100%);
        transition: transform 0.5s;
    }
    #sidebar ul{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: flex-start;
    }
    #sidebar:target {
        transform: translateX(0);
    }
    /*hambur fin*/
    .fondo_banner {
        height: 600px;
    }
    .prepagas__div02{
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    /* Nosotros */    
    .nosotros{
        padding: 30px 5% 30px 5%;
    }
    .doctores{
        justify-content: space-between;
    }
    /* tratamientos */
    .fondo-color{
        padding: 3rem 0 3rem 0;
    }
    .trata{
        margin: 30px 5% 0 5%;
        justify-content: space-between;
    }
    .otros_trata{
        padding: 50px 0 50px 0;
        margin-right: 5%;
    }
    /* Istalaciones */
    .galeria{
        min-width: 500px;
        height: 1000px;
        
        align-content:flex-start;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "dos dos uno"
        "dos dos uno"
        "tres cuatro uno"
        "tres cinco cinco";
    }
    /* footer */
    .pie{
        flex-direction: column;
        align-items: center;
    }
    .pie__logo, .pie__hora, .pie__datos {
        width: auto;
        text-align: center;
        padding: 0 10% 0 10%;
    }
    .pie__hora{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media (max-width: 562px){
    h1{
        text-align: center;
        font-size: 50px;
    }
    h3{
        text-align: center;
        font-size: 30px;
    }
    /* HOME */
    .prepagas{
        padding: 3rem;
    }
    .prepagas__div02{
        flex-direction: column;
    }
    .prepagas__div02 img{
        padding-top: 10px;
    }
    .fondo_banner{
        height: 400px;
        background-position-x: right;
    }
    .obras{
        display: flex;
        align-items: center;
    }
    /* Nosotros */
    .doctores{
        flex-direction: column;
        justify-content: flex-start;
        gap: 50px;
        align-content: space-around;
        align-items: stretch;
        margin-bottom: 5%;
    }
    .doctores__01{
        width: 100%;
    }
    /* tratamientos*/
    .fondo-color{
        padding: 5rem 10px 5rem 10px;
    }    
    .otros_trata h5{
        text-align: center;
    }
    .otros_trata{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        padding: 50px 0 0 0;
        margin: 0 5% 0 5%;
    }
    .trata{
        margin-top: 0px;
        margin-left: 0%;
        flex-direction: column;
    }
    .trata_individual{
        width: auto;
        padding-top: 50px;
    }
    .otros_trata__img img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
    }
    .otros_trata__lista{
        margin-left: 0px;
        padding-top: 30px;
    }
    .trata__lista{
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }
    td h5{
        margin-right: 0;
        text-align: center;
    }
    /* galeria */
    .galeria{
        min-width: 350px;
        height: auto;
        
        align-content:flex-start;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
        "uno"
        "dos"
        "tres"
        "cuatro"
        "cinco";
    }
    /* footer */
    .pie__logo, .pie__hora, .pie__datos {
        padding: 0 20% 0 20%;
    }
}