* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    font-family: 'Asap', sans-serif;
    font-weight: 100;
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-size: 1.2rem;
    transition: all 1s;
    &:hover{
        color: $colorPrimario;
        font-size: 1.2rem;
    }
}
h1{
    font-family: 'Asap', sans-serif;
    color: $colorPrimario;
    font-size: 5rem;
    font-weight: 600;
    text-align: right;
    font-style: normal;
    @media (max-width: 992px){
        font-size: 60px;
    }
    @media (max-width: 562px){
        text-align: center;
        font-size: 50px;
    }
}
h2{
    font-family: 'Asap', sans-serif;
    color: rgb(226, 1, 1);
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    font-style: normal;
}
h3{
    font-family: 'Roboto', sans-serif;
    color: rgb(68, 68, 68);
    font-size: 2rem;
    font-weight: 100;
    text-align: right;
    font-style: normal;
    @media (max-width: 992px){
        font-size: 40px;
    }
    @media (max-width: 562px){
        text-align: center;
        font-size: 30px;
    }
}
h4{
    font-family: 'Roboto', sans-serif;
    color: rgb(68, 68, 68);
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    font-style: normal;
}
h5{
    font-family: 'Asap', sans-serif;
    color: rgb(226, 1, 1);
    font-size: 1.3rem;
    font-weight: 400;
}
p{
    color: dimgray;
    font-family: 'Roboto', sans-serif;
    font-size: 400;
}