/* Titulo banner izq */
.titulo_banner{
    @include titulos(left, $colorPrimario, 5rem, 600);
    margin-bottom: 20px;
    line-height: 60px;
}
.sub_titulos-banner{
    @include sub_titulos(left, $colorSecundario, 2rem, 100);
    line-height: 40px;
}
/* HOME Prepagas y protectores*/
.fondo-color{
    @extend .gradient-filete;
    .obras{
        transition: all 0.5s;
        &:hover{
            transform: scale(1.3,1.3);
        }
    }
    &__box{
        transition: all 0.3s;
        overflow: hidden;
        @extend .galeriaGrid;
        &:hover{
            transform: rotateZ(2.5deg)
        }
    }
    .beneficios{
        display: grid;
        grid-template-areas: 
        "pri seg ter";
        grid-auto-columns: 1fr 1fr 1fr;
        padding-top: 30px;
        gap: 20px;
        &__pri{
            display: map-get($beneficios, display);
            align-items: map-get($beneficios, centrado);
            border-radius: map-get($beneficios, borde);
            padding: map-get($beneficios, espacio);
            grid-area: pri;
            background-image: linear-gradient(to bottom, #736fa2, #9893c7);
            .titulos-bene{
                @include sub_titulos(center, $colorBlanco, 2rem, 100);
                margin-bottom: 0px;
            }
        }
        &__seg{
            display: map-get($beneficios, display);
            align-items: map-get($beneficios, centrado);
            border-radius: map-get($beneficios, borde);
            padding: map-get($beneficios, espacio);
            grid-area: seg;
            background-image: linear-gradient(to bottom, #48a6c2, #92c7cd); 
            .titulos-bene{
                @include sub_titulos(center, $colorBlanco, 2rem, 100);
                margin-bottom: 0px;
            }
        }
        &__ter{
            display: map-get($beneficios, display);
            align-items: map-get($beneficios, centrado);
            border-radius: map-get($beneficios, borde);
            padding: map-get($beneficios, espacio);
            grid-area: ter;
            background-image: linear-gradient(to bottom, #969595, #c5c5c5);
            .titulos-bene{
                @include sub_titulos(center, $colorBlanco, 2rem, 100);
                margin-bottom: 0px;
            }
        }
    }
}
.gradient-custom {
    /* fallback for old browsers */
    background: #00c4ed;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top, rgba(0, 197, 237, 0.193), rgba(255, 2, 145, 0.06));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top, rgba(0, 197, 237, 0.193)
    , rgba(255, 2, 145, 0.06))
}
.boton_consul {
    @extend %boton;
    background-color: $colorGris2;
    width: 150px;
    &:hover{
        background-color:#ff0290;
    }
}
/* Segunda sección NOSOTROS */
.nosotros{
    @extend .gradient-filete;
    .card_color{
        transition:all 0.5s;
        &:hover{
            background-color: #e0e0e0;
        }
    }
}
/* Segunda sección TRATAMIENTOS */
.trata{
    @extend .gradient-filete;
    &__individual i{
        color: $colorGris2;
        font-size: 4rem;
        margin-bottom: 20px;
        transition: all 0.5s;
        &:hover{
            color: $colorPrimario;
        }
    }
}
.trata__lista{
    font-family: 'roboto', sans-serif;
    list-style: none;
    font-size: 14px;
    color:$colorGris2;
    line-height: 25px;
}
/* segunda sección GALERIA */
.galeria{
    @extend .gradient-filete;
    min-width: 500px;
    height: 900px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "uno dos dos tres"
    "uno dos dos tres"
    "uno cuatro cinco cinco";
    gap: 20px;
    padding-top: 50px;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 50px;
    &__img001{
        grid-area: uno;
        overflow: hidden;
        border-radius: 10px;
        .galeria__grid--img{
            @extend .galeriaGrid;
            &:hover{
                transform: scale(1.2,1.2) rotateZ(2deg);
            }
        }
    }
    &__img002{
        grid-area: dos;
        overflow: hidden;
        border-radius: 10px;
        .galeria__grid--img{
            @extend .galeriaGrid;
            &:hover{
                transform: scale(1.2,1.2) rotateZ(2deg);
            }
        }
    }
    &__img003{
        grid-area: tres;
        overflow: hidden;
        border-radius: 10px;
        .galeria__grid--img{
            @extend .galeriaGrid;
            &:hover{
                transform: scale(1.2,1.2) rotateZ(2deg);
            }
        }
    }
    &__img004{
        grid-area: cuatro;
        overflow: hidden;
        border-radius: 10px;
        .galeria__grid--img{
            @extend .galeriaGrid;
            &:hover{
                transform: scale(1.2,1.2) rotateZ(2deg);
            }
        }
    }
    &__img005{
        grid-area: cinco;
        overflow: hidden;
        border-radius: 10px;
        .galeria__grid--img{
            @extend .galeriaGrid;
            &:hover{
                transform: scale(1.2,1.2) rotateZ(2deg);
            }
        }
    }
}
/* Sección CONTACTO */
.contacto__titulo{
    text-align: start;
}
.boton_enviar {
    @extend %boton;
    background-color:$colorPrimario;
    &:hover{
        background-color: $colorSecundario;
    }
}
.boton_borrar {
    @extend %boton;
    background-color:$colorGris;
    color: $colorSecundario;
    border: $colorFooter 1px solid;
    &:hover{
        background-color: $colorFooter;
        color: $colorBlanco;
    }
}
/* @media */
@media (max-width: 992px){
    .titulo_banner{
        font-size: 60px;
    }
    .sub_titulos-banner{
        font-size: 40px;
    }
    .fondo-color{
        padding: 3rem 0 3rem 0;
    }
    .galeria{
        min-width: 500px;
        height: 1000px;
        align-content:flex-start;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "dos dos uno"
        "dos dos uno"
        "tres cuatro uno"
        "tres cinco cinco";
    }
}
@media (max-width: 768px){
    .nosotros, .trata{
        padding-left: 20px;
        padding-right: 20px;
    }
    .trata__lista{
        padding-left: 0;
    }
    .fondo-color{
        .beneficios{
            padding-left: 13px;
            padding-right: 13px;
            grid-template-areas: 
            "pri"
            "seg"
            "ter";
            grid-auto-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
        }
    }
}
@media (max-width: 562px){
    
    .titulo_banner{
        text-align: center;
        font-size: 50px;
        margin-bottom: 0px;
    }
    .sub_titulos-banner{
        text-align: center;
        font-size: 30px;
    }
    .fondo-color{
        padding: 5rem 0 3rem 0;
        .obras{
        display: flex;
        align-items: center;
        }
    }
    .galeria{
        min-width: 350px;
        height: auto;
        align-content:flex-start;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
        "uno"
        "dos"
        "tres"
        "cuatro"
        "cinco";
    }
    .contacto__titulo{
        text-align: center;
    }
}